@tailwind base;
@tailwind components;
@tailwind utilities;

*{
margin: 0;
}
.active{
    background: #d3d9eb; 
background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF);  
background: linear-gradient(to right, #E2E2E2, #C9D6FF);

border-radius: 5px; 


}
